@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div{
 
  width: auto ;
  height: auto;
  
  margin-top: 50px;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  text-align: center;
}
.tabla{
  width: 400px;
  height: 400px;
  max-width: 50%;
  max-height: 50%;
  

}
p{

  font-size: x-large;
  text-overflow: initial;
  text-transform: uppercase;
  font-family: "kekoletra";
}

@font-face{
  font-family:'kekoletra';
  src:url('../public/fonts/Orbitron-VariableFont_wght.ttf') format("truetype");
  
}
.tablaColor{
  background-color: white;

}

.tam{
  width: auto;

  
  
}
